# Banco de dados
DATABASE_URL="postgresql://usuario:senha@localhost:5432/petshop?schema=public"

# Servidor HTTP
PORT=3000
NODE_ENV=development

# Autenticação
JWT_SECRET="troque-este-segredo-em-producao"
JWT_EXPIRES_IN="1h"

# Bcrypt
BCRYPT_SALT_ROUNDS=10

# Logger
LOG_LEVEL=info
