# Banco de dados
DATABASE_URL="postgresql://usuario:senha@localhost:5432/petshop?schema=public"

# Servidor HTTP
PORT=3000
NODE_ENV=development

# Autenticação
JWT_SECRET="troque-este-segredo-em-producao-com-32-caracteres-ou-mais"
JWT_EXPIRES_IN="1h"

# Bootstrap do usuário ADMIN inicial (usado por npm run prisma:seed)
ADMIN_NOME="Administrador"
ADMIN_EMAIL="admin@petshop.com"
ADMIN_SENHA="admin123"

# Bcrypt
BCRYPT_SALT_ROUNDS=10

# Logger
LOG_LEVEL=info
